<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kw.Aspects" version="1.0.3" targetFramework="net47" />
  <package id="Kw.Common" version="1.0.3" targetFramework="net47" />
  <package id="PostSharp" version="6.2.8" targetFramework="net47" />
  <package id="PostSharp.Redist" version="6.2.8" targetFramework="net47" />
</packages>